flows.json
[{"id":"ab68ba27.64a7f8","type":"subflow","name":"activation control","info":"","in":[{"x":120,"y":240,"wires":[{"id":"8deb125.78678f"}]}],"out":[{"x":740,"y":240,"wires":[{"id":"adff1403.648bd8","port":0}]}],"inputLabels":["url"],"outputLabels":["boolean"]},{"id":"8deb125.78678f","type":"http request","z":"ab68ba27.64a7f8","name":"","method":"use","ret":"txt","url":"","tls":"","x":290,"y":240,"wires":[["adff1403.648bd8"]]},{"id":"adff1403.648bd8","type":"switch","z":"ab68ba27.64a7f8","name":"IF rule_activate == true THEN","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":240,"wires":[[]]},{"id":"4c167176.ddec3","type":"tab","label":"HERMES_GITHUB","disabled":false,"info":""},{"id":"6853b70f.e1b558","type":"function","z":"4c167176.ddec3","name":"url + every day at 15:00 + living room lamp turn on","func":"var txt = {\n    method: 'GET',\n    url: 'http://miosito.altervista.org/demo/response_GET.php?triggerchannel=\\\"every day at 15:00\\\"&actionchannel=\\\"living room lamp turn on\\\"',\n};\n\nreturn txt;","outputs":1,"noerr":0,"x":670,"y":160,"wires":[["5379af64.e1f38"]]},{"id":"f129763e.6e0f98","type":"http in","z":"4c167176.ddec3","name":"DataTime: every day at 15:00","url":"/public/everyDayAt1530","method":"post","upload":false,"swaggerDoc":"","x":240,"y":160,"wires":[["6853b70f.e1b558","67abe696.5e31e8","fe9202e4.d01b5","bf3f398e.39f258"]]},{"id":"136f4fe6.ce792","type":"http in","z":"4c167176.ddec3","name":"Weather Und: reports every day at 03:00 PM","url":"/public/weatherRepoDay300","method":"post","upload":false,"swaggerDoc":"","x":430,"y":420,"wires":[["668065b4.b16a3c","496e9ef0.ed10e","8156e5ed.1fa4c8","fc101ea.a0590e"]]},{"id":"f48f2223.97524","type":"function","z":"4c167176.ddec3","name":"","func":"msg.event = \"send_me_a_Telegram_message\";\ntxt = {\"value1\": msg.payload};\nmsg.payload = txt;\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":560,"wires":[["f987a991.dc8db8"]]},{"id":"4804ec96.143b74","type":"json","z":"4c167176.ddec3","name":"","property":"payload","action":"","pretty":false,"x":1950,"y":560,"wires":[["f48f2223.97524"]]},{"id":"668065b4.b16a3c","type":"function","z":"4c167176.ddec3","name":"url + reports weather every day at 09:00 AM+ send me a Telegram message","func":"var txt = {\n    method: 'GET',\n    url: 'http://miosito.altervista.org/demo/response_GET.php?triggerchannel=\\\"reports weather every day at 09:00 AM\\\"&actionchannel=\\\"send me a Telegram message\\\"',\n};\n\nreturn txt;","outputs":1,"noerr":0,"x":850,"y":520,"wires":[["91ba8b3.695f878"]]},{"id":"496e9ef0.ed10e","type":"change","z":"4c167176.ddec3","name":"1-scrive in mem","rules":[{"t":"set","p":"payload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":480,"wires":[[]]},{"id":"3bf917e0.6f0de8","type":"change","z":"4c167176.ddec3","name":"2-legge da mem","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":560,"wires":[["4804ec96.143b74"]]},{"id":"4cffb47d.83086c","type":"comment","z":"4c167176.ddec3","name":"il nodo 2 prende le info dal nodo 1","info":"","x":1800,"y":520,"wires":[]},{"id":"8156e5ed.1fa4c8","type":"function","z":"4c167176.ddec3","name":"url + reports weather every day at 09:00 AM + living room lamp turn on","func":"var txt = {\n    method: 'GET',\n    url: 'http://miosito.altervista.org/demo/response_GET.php?triggerchannel=\\\"reports weather every day at 09:00 AM\\\"&actionchannel=\\\"living room lamp turn on\\\"',\n};\n\nreturn txt;","outputs":1,"noerr":0,"x":910,"y":380,"wires":[["6715c2c0.5abfec"]]},{"id":"67abe696.5e31e8","type":"function","z":"4c167176.ddec3","name":"url + every day at 15:00 + send me a Telegram message","func":"var txt = {\n    method: 'GET',\n    url: 'http://miosito.altervista.org/demo/response_GET.php?triggerchannel=\\\"every day at 15:00\\\"&actionchannel=\\\"send me a Telegram message\\\"',\n};\n\nreturn txt;","outputs":1,"noerr":0,"x":370,"y":700,"wires":[["eb5ef49b.100b08"]]},{"id":"eb5ef49b.100b08","type":"subflow:ab68ba27.64a7f8","z":"4c167176.ddec3","name":"","x":760,"y":700,"wires":[["f8d0d607.971d28"]]},{"id":"fe9202e4.d01b5","type":"change","z":"4c167176.ddec3","name":"1-scrive in mem","rules":[{"t":"set","p":"payload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":640,"wires":[[]]},{"id":"4276b6b0.321d58","type":"function","z":"4c167176.ddec3","name":"","func":"msg.event = \"send_me_a_Telegram_message\";\ntxt = {\"value1\": msg.payload};\nmsg.payload = txt;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":700,"wires":[["f987a991.dc8db8"]]},{"id":"b961ea0b.509e58","type":"json","z":"4c167176.ddec3","name":"","property":"payload","action":"","pretty":false,"x":1190,"y":700,"wires":[["4276b6b0.321d58"]]},{"id":"f8d0d607.971d28","type":"change","z":"4c167176.ddec3","name":"2-legge da mem","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":700,"wires":[["b961ea0b.509e58"]]},{"id":"bf3f398e.39f258","type":"function","z":"4c167176.ddec3","name":"url + every day at 15:00 + living room lamp turn off","func":"var txt = {\n    method: 'GET',\n    url: 'http://miosito.altervista.org/demo/response_GET.php?triggerchannel=\\\"every day at 15:00\\\"&actionchannel=\\\"living room lamp turn off\\\"',\n};\n\nreturn txt;","outputs":1,"noerr":0,"x":450,"y":860,"wires":[["442648f4.d02538"]]},{"id":"442648f4.d02538","type":"subflow:ab68ba27.64a7f8","z":"4c167176.ddec3","name":"","x":830,"y":840,"wires":[["a0565b4a.0e46c8"]]},{"id":"fc101ea.a0590e","type":"function","z":"4c167176.ddec3","name":"url + reports weather every day at 09:00 AM  + living room lamp turn off","func":"var txt = {\n    method: 'GET',\n    url: 'http://miosito.altervista.org/demo/response_GET.php?triggerchannel=\\\"reports weather every day at 09:00 AM\\\"&actionchannel=\\\"living room lamp turn off\\\"',\n};\n\nreturn txt;","outputs":1,"noerr":0,"x":510,"y":940,"wires":[["f9809f64.d6667"]]},{"id":"f9809f64.d6667","type":"subflow:ab68ba27.64a7f8","z":"4c167176.ddec3","name":"","x":1070,"y":940,"wires":[["a0565b4a.0e46c8"]]},{"id":"f6266c00.d8ecb","type":"http in","z":"4c167176.ddec3","name":"rain","url":"/public/rain","method":"post","upload":false,"swaggerDoc":"","x":310,"y":1200,"wires":[["63013699.c9d858","a279c831.f08ab8","77be4085.7eeb7","68ddbf12.55b48"]]},{"id":"d9b121ac.55f92","type":"subflow:ab68ba27.64a7f8","z":"4c167176.ddec3","name":"","x":1250,"y":1300,"wires":[["a0565b4a.0e46c8"]]},{"id":"63013699.c9d858","type":"function","z":"4c167176.ddec3","name":"url + rain  + living room lamp turn off","func":"var txt = {\n    method: 'GET',\n    url: 'http://miosito.altervista.org/demo/response_GET.php?triggerchannel=\\\"rain\\\"&actionchannel=\\\"living room lamp turn off\\\"',\n};\n\nreturn txt;","outputs":1,"noerr":0,"x":620,"y":1300,"wires":[["d9b121ac.55f92"]]},{"id":"a279c831.f08ab8","type":"function","z":"4c167176.ddec3","name":"url + rain + living room lamp turn on","func":"var txt = {\n    method: 'GET',\n    url: 'http://miosito.altervista.org/demo/response_GET.php?triggerchannel=\\\"rain\\\"&actionchannel=\\\"living room lamp turn on\\\"',\n};\n\nreturn txt;","outputs":1,"noerr":0,"x":660,"y":1200,"wires":[["97bcc6ad.f0f458"]]},{"id":"97bcc6ad.f0f458","type":"subflow:ab68ba27.64a7f8","z":"4c167176.ddec3","name":"","x":1000,"y":1200,"wires":[["41e9a024.bcdf7"]]},{"id":"77be4085.7eeb7","type":"function","z":"4c167176.ddec3","name":"url + rain + send me a Telegram message","func":"var txt = {\n    method: 'GET',\n    url: 'http://miosito.altervista.org/demo/response_GET.php?triggerchannel=\\\"rain\\\"&actionchannel=\\\"send me a Telegram message\\\"',\n};\n\nreturn txt;","outputs":1,"noerr":0,"x":640,"y":1100,"wires":[["dc3cd586.e20e98"]]},{"id":"68ddbf12.55b48","type":"change","z":"4c167176.ddec3","name":"1-scrive in mem","rules":[{"t":"set","p":"payload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":1020,"wires":[[]]},{"id":"dc3cd586.e20e98","type":"subflow:ab68ba27.64a7f8","z":"4c167176.ddec3","name":"","x":980,"y":1080,"wires":[["d06e91a6.6048"]]},{"id":"d80732d9.f3fce","type":"function","z":"4c167176.ddec3","name":"","func":"msg.event = \"send_me_a_Telegram_message\";\ntxt = {\"value1\": msg.payload};\nmsg.payload = txt;\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":1080,"wires":[["f987a991.dc8db8"]]},{"id":"db71f9be.b8c798","type":"json","z":"4c167176.ddec3","name":"","property":"payload","action":"","pretty":false,"x":1550,"y":1080,"wires":[["d80732d9.f3fce"]]},{"id":"d06e91a6.6048","type":"change","z":"4c167176.ddec3","name":"2-legge da mem","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":1080,"wires":[["db71f9be.b8c798"]]},{"id":"62a590d4.13555","type":"http in","z":"4c167176.ddec3","name":"get out of the house","url":"/public/getOutOfTheHouse","method":"get","upload":false,"swaggerDoc":"","x":330,"y":1500,"wires":[["5e2cef22.ae7ff","be1711bf.22464"]]},{"id":"ad8f4e3e.da9d1","type":"subflow:ab68ba27.64a7f8","z":"4c167176.ddec3","name":"","x":1250,"y":1500,"wires":[["f987a991.dc8db8"]]},{"id":"5e2cef22.ae7ff","type":"function","z":"4c167176.ddec3","name":"url + get out of the house + send me a Telegram message","func":"var txt = {\n    method: 'GET',\n    url: 'http://miosito.altervista.org/demo/response_GET.php?triggerchannel=\\\"get out of the house\\\"&actionchannel=\\\"send me a Telegram message\\\"',\n};\n\nreturn txt;","outputs":1,"noerr":0,"x":830,"y":1500,"wires":[["ad8f4e3e.da9d1"]]},{"id":"130b33c2.3ecafc","type":"comment","z":"4c167176.ddec3","name":"prepara l'url","info":"","x":670,"y":200,"wires":[]},{"id":"726c3c7f.251fd4","type":"subflow:ab68ba27.64a7f8","z":"4c167176.ddec3","name":"","x":1210,"y":1440,"wires":[["41e9a024.bcdf7"]]},{"id":"be1711bf.22464","type":"function","z":"4c167176.ddec3","name":"url + get out of the house + living room lamp turn on","func":"var txt = {\n    method: 'GET',\n    url: 'http://miosito.altervista.org/demo/response_GET.php?triggerchannel=\\\"get out of the house\\\"&actionchannel=\\\"living room lamp turn on\\\"',\n};\n\nreturn txt;","outputs":1,"noerr":0,"x":770,"y":1440,"wires":[["726c3c7f.251fd4"]]},{"id":"5379af64.e1f38","type":"subflow:ab68ba27.64a7f8","z":"4c167176.ddec3","name":"","x":1070,"y":160,"wires":[["41e9a024.bcdf7"]]},{"id":"6715c2c0.5abfec","type":"subflow:ab68ba27.64a7f8","z":"4c167176.ddec3","name":"","x":1350,"y":380,"wires":[["41e9a024.bcdf7"]]},{"id":"91ba8b3.695f878","type":"subflow:ab68ba27.64a7f8","z":"4c167176.ddec3","name":"","x":1310,"y":520,"wires":[["3bf917e0.6f0de8"]]},{"id":"41e9a024.bcdf7","type":"debug","z":"4c167176.ddec3","name":"living_room_lamp_turn_on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1860,"y":260,"wires":[]},{"id":"f987a991.dc8db8","type":"debug","z":"4c167176.ddec3","name":"send_me_a_Telegram_message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2410,"y":720,"wires":[]},{"id":"a0565b4a.0e46c8","type":"debug","z":"4c167176.ddec3","name":"living_room_lamp_turn_off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1920,"y":820,"wires":[]}]